#jinja2: lstrip_blocks: True
{% macro badge(description='', count=0, normal=0) %}
    <div class="col-sm-6 col-lg-4 col-xl-3">
        <div class="p-1 border-bottom d-flex justify-content-between align-items-center">
            {{ description }}:
            {% if count == normal %}
                {% set color = 'bg-primary' %}
            {% else %}
                {% set color = 'bg-danger' %}
            {% endif %}
            <span class="text-end badge {{ color }} rounded-pill">{{ count|formatnumber }}</span>
        </div>
    </div>
{% endmacro %}