{% extends "_layout.html" %}
{% block nav_content %}
    <a class="nav-link" aria-current="page" href="{{ url_for('dashboard') }}"><i class="bi bi-speedometer2 me-1"></i>Dashboard</a>
    <a class="nav-link active" href="#">Comparison</a>
    <a class="nav-link" aria-current="page" href="{{ url_for('warnings') }}">Warnings</a>
{% endblock %}
{% block main_content %}
<section class="bg-light text-dark border-bottom p-1">
    <div class="container-fluid">
        <h5 class="mt-1">{{ schedules.current.name }}</h5>
    </div>
</section>

<section class="py-3 px-md-4 bg-white">
    {% from 'components/badged_element.j2' import badge %}
    <div class="container-lg">
        <h5>Schedule Revisions Summary</h5>
        <div class="row gx-5 mb-4">
            {{ badge('Added Activities', 'addedTaskTable', task_changes.added_tasks|length) }}
            {{ badge('Deleted Activities', 'deletedTaskTable', task_changes.deleted_tasks|length) }}
            {{ badge('Revised Names', 'taskNameChangeTable', task_changes.name|length) }}
            {{ badge('Revised Durations', 'durationChangeTables', task_changes.orig_duration|length + task_changes.rem_duration|length) }}
            {{ badge('Revised Actual Dates', 'actDateChangeTable', task_changes.act_start|length + task_changes.act_finish|length) }}
            {{ badge('Revised Task Calendars', 'taskCalendarChangeTable', task_changes.act_calendar|length) }}
            {{ badge('Revised Task WBS', 'taskWbsChangeTable', task_changes.act_wbs|length) }}
            {{ badge('Revised Task Types', 'taskTypeChangeTable', task_changes.act_type|length) }}
            {{ badge('Revised Constraints', 'constraintChangeTables', task_changes.revised_constraint|length) }}
            {{ badge('Added Logic', 'addedLogicTable', task_changes.added_logic|length) }}
            {{ badge('Deleted Logic', 'deletedLogicTable', task_changes.deleted_logic|length) }}
            {{ badge('Revised Logic', 'revisedLogicTable', task_changes.revised_logic|length) }}
            {{ badge('Added Resource', 'addedResourceTable', task_changes.added_resource|length) }}
            {{ badge('Deleted Resource', 'deletedResourceTable', task_changes.deleted_resource|length) }}
            {{ badge('Revised Cost', 'revisedCostTable', task_changes.revised_cost|length) }}
            {{ badge('Revised Unit Qty', 'revisedQtyTable', task_changes.revised_qty|length) }}
            {{ badge('Added WBS', 'addedWbsTable', task_changes.added_wbs|length) }}
            {{ badge('Deleted WBS', 'deletedWbsTable', task_changes.deleted_wbs|length) }}
            {{ badge('Revised WBS Name', 'revisedWbsTable', task_changes.revised_wbs_name|length) }}
            <!-- Added Memo -->
            <!-- Deleted Memo -->
            <!-- Revised Memo -->
            {{ badge('Added Calendars', 'addedCalTable', task_changes.added_calendar|length) }}
            {{ badge('Deleted Calendars', 'deletedCalTable', task_changes.deleted_calendar|length) }}
            <!-- Revised Work Week -->
            {{ badge('Added Non-Work Days', 'addedHolTable', task_changes.added_holiday|length) }}
            {{ badge('Deleted Non-Work Days', 'deletedHolTable', task_changes.deleted_holiday|length) }}
            {{ badge('Added Work Days', 'addedWDTable', task_changes.added_workday|length) }}
            {{ badge('Deleted Work Days', 'deletedWDTable', task_changes.deleted_workday|length) }}
        </div>
    </div>
</section>

<section class="py-3 px-md-4 bg-white">
    {% from 'components/image_element.j2' import task_image %}

    <div class="container-lg">

        {% if task_changes.added_tasks|length %}
        <div id="addedTaskTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Added Activities: {{ task_changes.added_tasks|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary shadow-sm">
                        <th scope="col">#</th>
                        <th colspan="2" scope="col" class="text-start">ID</th>
                        <th scope="col" class="text-start">Name</th>
                        <th scope="col" class="text-start">Cal</th>
                        <th scope="col" class="text-center">Orig Dur</th>
                        <th scope="col" class="text-center">Start</th>
                        <th scope="col" class="text-center">Finish</th>
                        <th scope="col" class="text-center">TF</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_changes.added_tasks %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ task.activity_id }}</td>
                        <td>{{ task_image(task) }}</td>
                        <td class="text-start">{{ task.name }}</td>
                        <td class="text-start">{{ task.calendar.name }}</td>
                        <td class="text-center">{{ task.original_duration|formatnumber }}</td>
                        <td class="text-center text-nowrap">{{ task.start|formatdate }}</td>
                        <td class="text-center text-nowrap">{{ task.finish|formatdate }}</td>
                        <td class="text-center">{{ task.total_float|formatnumber }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if task_changes.deleted_tasks|length %}
        <div id="deletedTaskTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Deleted Activities: {{ task_changes.deleted_tasks|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th colspan="2" scope="col" class="text-start">ID</th>
                        <th scope="col" class="text-start">Name</th>
                        <th scope="col" class="text-start">Cal</th>
                        <th scope="col" class="text-center">Orig Dur</th>
                        <th scope="col" class="text-center">Start</th>
                        <th scope="col" class="text-center">Finish</th>
                        <th scope="col" class="text-center">TF</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_changes.deleted_tasks %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ task.activity_id }}</td>
                        <td>{{ task_image(task) }}</td>
                        <td class="text-start">{{ task.name }}</td>
                        <td class="text-start">{{ task.calendar.name }}</td>
                        <td class="text-center">{{ task.original_duration|formatnumber }}</td>
                        <td class="text-center text-nowrap">{{ task.start|formatdate }}</td>
                        <td class="text-center text-nowrap">{{ task.finish|formatdate }}</td>
                        <td class="text-center">{{ task.total_float|formatnumber }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if task_changes.name %}
        <div id="taskNameChangeTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Activity Name Changes: {{ task_changes.name|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th colspan="2" scope="col">ID</th>
                        <th scope="col">New Name</th>
                        <th scope="col">Old Name</th>
                        <th scope="col" class="text-center">Match</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_changes.name %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ task[0].activity_id }}</td>
                        <td>{{ task_image(task[0]) }}</td>
                        <td>{{ task[0].name }}</td>
                        <td>{{ task[1].name }}</td>
                        {% if (60 <= task[2] < 80) and task[3] != 100 %}
                            <td class="text-center"><span class="badge bg-warning text-dark f-md">{{ task[2] }}%</span></td>
                        {% elif task[2] < 60 and task[3] != 100  %}
                            <td class="text-center"><span class="badge bg-danger f-md">{{ task[2] }}%</span></td>
                        {% else %}
                            <td class="text-center">{{ task[2] }}%</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if task_changes.orig_duration or task_changes.rem_duration %}
        <div id="durationChangeTables">
            {% if task_changes.orig_duration %}
            <div id="taskOrigDurChangeTable" class="table-responsive-md  mb-5">
                <table class="table table-hover caption-top">
                    <caption class="h5 text-dark text-nowrap m-0">Original Duration Changes: {{ task_changes.orig_duration|length|formatnumber }}</caption>
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col">#</th>
                            <th colspan="2" scope="col" class="text-start">ID</th>
                            <th scope="col" class="text-start">Name</th>
                            <th scope="col" class="text-start">Cal</th>
                            <th scope="col" class="text-center">New Dur</th>
                            <th scope="col" class="text-center">Old Dur</th>
                            <th scope="col" class="text-center">Diff</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_changes.orig_duration %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td class="text-start text-nowrap">{{ task[0].activity_id }}</td>
                            <td>{{ task_image(task[0]) }}</td>
                            <td class="text-start">{{ task[0].name }}</td>
                            <td class="text-start">{{ task[0].calendar.name }}</td>
                            <td class="text-center">{{ task[0].original_duration|formatnumber }}</td>
                            <td class="text-center">{{ task[1].original_duration|formatnumber }}</td>
                            {% with %}
                            {% set diff = task[0].original_duration - task[1].original_duration %}
                            {% if diff < 0 %}
                                <td class="text-end"><span class="badge bg-warning text-dark f-md-sm">{{ diff|formatvariance }}</span></td>
                            {% else %}
                                <td class="text-end"><span class="badge bg-info text-dark f-md-sm">{{ diff|formatvariance }}</span></td>
                            {% endif %}
                            {% endwith %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            {% if task_changes.rem_duration %}
            <div id="taskRemDurChangeTable" class="table-responsive-md  mb-5">
                <table class="table table-hover caption-top">
                    <caption class="h5 text-dark text-nowrap m-0">Remaining Duration Changes: {{ task_changes.rem_duration|length|formatnumber }}</caption>
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col">#</th>
                            <th colspan="2" scope="col" class="text-start">ID</th>
                            <th scope="col" class="text-start">Name</th>
                            <th scope="col" class="text-start">Cal</th>
                            <th scope="col" class="text-center">New Dur</th>
                            <th scope="col" class="text-center">Old Dur</th>
                            <th scope="col" class="text-center">Diff</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_changes.rem_duration %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td class="text-start text-nowrap">{{ task[0].activity_id }}</td>
                            <td><img src="{{ url_for('static', filename='img/'~task[0]|taskimage) }}" width="20px" height="10px" alt=""></td>
                            <td class="text-start">{{ task[0].name }}</td>
                            <td class="text-start">{{ task[0].calendar.name }}</td>
                            <td class="text-center">{{ task[0].remaining_duration|formatnumber }}</td>
                            <td class="text-center">{{ task[1].remaining_duration|formatnumber }}</td>
                            {% with %}
                            {% set diff = task[0].remaining_duration - task[1].remaining_duration %}
                            {% if diff < 0 %}
                                {% set color = 'text-danger' %}
                            {% endif %}
                            <td class="text-center {{ color }}">{{ (task[0].remaining_duration - task[1].remaining_duration)|formatvariance }}</td>
                            {% endwith %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if task_changes.act_start or task_changes.act_finish %}
        <div id="actDateChangeTable">
            {% if task_changes.act_start %}
            <div id="actStartChangeTable" class="table-responsive-md  mb-5">
                <table class="table table-hover caption-top">
                    <caption class="h5 text-dark text-nowrap m-0">Actual Start Changes: {{ task_changes.act_start|length|formatnumber }}</caption>
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col">#</th>
                            <th colspan="2" scope="col" class="text-start">ID</th>
                            <th scope="col" class="text-start">Name</th>
                            <th scope="col" class="text-center">New Start</th>
                            <th scope="col" class="text-center">Old Start</th>
                            <th scope="col" class="text-center">Diff</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_changes.act_start %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td class="text-start text-nowrap">{{ task[0].activity_id }}</td>
                            <td><img src="{{ url_for('static', filename='img/'~task[0]|taskimage) }}" width="20px" height="10px" alt=""></td>
                            <td class="text-start">{{ task[0].name }}</td>
                            <td class="text-center">{{ task[0].act_start_date|formatdate }}</td>
                            <td class="text-center">{{ task[1].act_start_date|formatdate }}</td>
                            {% with %}
                            {% if not task[0].act_start_date is none and not task[1].act_start_date is none %}
                                {% set diff = (task[0].act_start_date - task[1].act_start_date).days %}
                                {% if diff < 0 %}
                                    {% set color = 'text-danger' %}
                                {% endif %}
                            {% else %}
                                {% set diff = '-' %}
                            {% endif %}
                            <td class="text-center {{ color }}">{{ diff|formatvariance }}</td>
                            {% endwith %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            {% if task_changes.act_finish %}
            <div id="actFinishChangeTable" class="table-responsive-md  mb-5">
                <table class="table table-hover caption-top">
                    <caption class="h5 text-dark text-nowrap m-0">Actual Finish Changes: {{ task_changes.act_finish|length|formatnumber }}</caption>
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col">#</th>
                            <th colspan="2" scope="col" class="text-start">ID</th>
                            <th scope="col" class="text-start">Name</th>
                            <th scope="col" class="text-center">New Finish</th>
                            <th scope="col" class="text-center">Old Finish</th>
                            <th scope="col" class="text-center">Diff</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in task_changes.act_finish %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td class="text-start text-nowrap">{{ task[0].activity_id }}</td>
                            <td><img src="{{ url_for('static', filename='img/'~task[0]|taskimage) }}" width="20px" height="10px" alt=""></td>
                            <td class="text-start">{{ task[0].name }}</td>
                            <td class="text-center">{{ task[0].act_end_date|formatdate }}</td>
                            <td class="text-center">{{ task[1].act_end_date|formatdate }}</td>
                            {% with %}
                            {% if not task[0].act_end_date is none and not task[1].act_end_date is none %}
                                {% set diff = (task[0].act_end_date - task[1].act_end_date).days %}
                                {% if diff < 0 %}
                                    {% set color = 'text-danger' %}
                                {% endif %}
                            {% else %}
                                {% set diff = '-' %}
                            {% endif %}
                            <td class="text-center {{ color }}">{{ diff|formatvariance }}</td>
                            {% endwith %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        {% endif %}

        {% if task_changes.act_calendar %}
        <div id="taskCalendarChangeTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Activity Calendar Changes: {{ task_changes.act_calendar|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th colspan="2" scope="col" class="text-start">ID</th>
                        <th scope="col" class="text-start">Name</th>
                        <th scope="col" class="text-center">New Calendar</th>
                        <th scope="col" class="text-center">Old Calendar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_changes.act_calendar %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ task[0].activity_id }}</td>
                        <td><img src="{{ url_for('static', filename='img/'~task[0]|taskimage) }}" width="20px" height="10px" alt=""></td>
                        <td class="text-start">{{ task[0].name }}</td>
                        <td class="text-center">{{ task[0].calendar|string }}</td>
                        <td class="text-center">{{ task[1].calendar|string }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if task_changes.act_wbs %}
        <div id="taskWbsChangeTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Activity WBS Changes: {{ task_changes.act_wbs|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th colspan="2" scope="col" class="text-start">ID</th>
                        <th scope="col" class="text-start">Name</th>
                        <th scope="col" class="text-start">New WBS Path</th>
                        <th scope="col" class="text-start">Old WBS Path</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_changes.act_wbs %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ task[0].activity_id }}</td>
                        <td><img src="{{ url_for('static', filename='img/'~task[0]|taskimage) }}" width="20px" height="10px" alt=""></td>
                        <td class="text-start">{{ task[0].name }}</td>
                        <td class="text-start">{{ task[1] }}</td>
                        <td class="text-start">{{ task[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if task_changes.act_type %}
        <div id="taskTypeChangeTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Activity Type Changes: {{ task_changes.act_type|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th colspan="2" scope="col" class="text-start">ID</th>
                        <th scope="col" class="text-start">Name</th>
                        <th scope="col" class="text-center">New Type</th>
                        <th scope="col" class="text-center">Old Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_changes.act_type %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ task[0].activity_id }}</td>
                        <td><img src="{{ url_for('static', filename='img/'~task[0]|taskimage) }}" width="20px" height="10px" alt=""></td>
                        <td class="text-start">{{ task[0].name }}</td>
                        <td class="text-center">{{ task[0].type }}</td>
                        <td class="text-center">{{ task[1].type }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if task_changes.revised_constraint %}
        <div id="constraintChangeTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Revised Constraints: {{ task_changes.revised_constraint|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th colspan="2" scope="col" class="text-start">ID</th>
                        <th scope="col" class="text-start">Name</th>
                        <th scope="col" class="text-start">Constraint</th>
                        <th scope="col" class="text-start">New Type</th>
                        <th scope="col" class="text-center">New Date</th>
                        <th scope="col" class="text-start">Old Type</th>
                        <th scope="col" class="text-center">Old Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_changes.revised_constraint %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ task[0].activity_id }}</td>
                        <td><img src="{{ url_for('static', filename='img/'~task[0]|taskimage) }}" width="20px" height="10px" alt=""></td>
                        <td class="text-start">{{ task[0].name }}</td>
                        <td class="text-start">{{ task[3] }}</td>
                        <td class="text-center">{{ task[1].type }}</td>
                        <td class="text-center text-nowrap">{{ task[1].date|formatdate }}</td>
                        <td class="text-center">{{ task[2].type }}</td>
                        <td class="text-center text-nowrap">{{ task[2].date|formatdate }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if task_changes.added_logic %}
        <div id="addedLogicTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Added Relationships: {{ task_changes.added_logic|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th colspan="2" scope="col" class="text-start">Pred ID</th>
                        <th scope="col" class="text-start">Pred Name</th>
                        <th colspan="2" scope="col" class="text-start">Succ ID</th>
                        <th scope="col" class="text-start">Succ Name</th>
                        <th scope="col" class="text-center">Link</th>
                        <th scope="col" class="text-center">Lag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rel in task_changes.added_logic %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ rel.predecessor.activity_id }}</td>
                        <td><img src="{{ url_for('static', filename='img/'~rel.predecessor|taskimage) }}" width="20px" height="10px" alt=""></td>
                        <td class="text-start">{{ rel.predecessor.name }}</td>
                        <td class="text-start text-nowrap">{{ rel.successor.activity_id }}</td>
                        <td><img src="{{ url_for('static', filename='img/'~rel.successor|taskimage) }}" width="20px" height="10px" alt=""></td>
                        <td class="text-start">{{ rel.successor.name }}</td>
                        <td class="text-center">{{ rel.link }}</td>
                        <td class="text-center">{{ rel.lag|formatnumber }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if task_changes.deleted_logic %}
        <div id="deletedLogicTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Deleted Relationships: {{ task_changes.deleted_logic|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th colspan="2" scope="col" class="text-start">Pred ID</th>
                        <th scope="col" class="text-start">Pred Name</th>
                        <th colspan="2" scope="col" class="text-start">Succ ID</th>
                        <th scope="col" class="text-start">Succ Name</th>
                        <th scope="col" class="text-center">Link</th>
                        <th scope="col" class="text-center">Lag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rel in task_changes.deleted_logic %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ rel.predecessor.activity_id }}</td>
                        <td><img src="{{ url_for('static', filename='img/'~rel.predecessor|taskimage) }}" width="20px" height="10px" alt=""></td>
                        <td class="text-start">{{ rel.predecessor.name }}</td>
                        <td class="text-start text-nowrap">{{ rel.successor.activity_id }}</td>
                        <td><img src="{{ url_for('static', filename='img/'~rel.successor|taskimage) }}" width="20px" height="10px" alt=""></td>
                        <td class="text-start">{{ rel.successor.name }}</td>
                        <td class="text-center">{{ rel.link }}</td>
                        <td class="text-center">{{ rel.lag|formatnumber }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if task_changes.revised_logic %}
        <div id="revisedLogicTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Revised Relationships: {{ task_changes.revised_logic|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th colspan="2" scope="col" class="text-start">Pred ID</th>
                        <th scope="col" class="text-start">Pred Name</th>
                        <th colspan="2" scope="col" class="text-start">Succ ID</th>
                        <th scope="col" class="text-start">Succ Name</th>
                        <th scope="col" class="text-center">New Link:Lag</th>
                        <th scope="col" class="text-center">Old Link:Lag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rel in task_changes.revised_logic %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ rel[0].predecessor.activity_id }}</td>
                        <td><img src="{{ url_for('static', filename='img/'~rel[0].predecessor|taskimage) }}" width="20px" height="10px" alt=""></td>
                        <td class="text-start">{{ rel[0].predecessor.name }}</td>
                        <td class="text-start text-nowrap">{{ rel[0].successor.activity_id }}</td>
                        <td><img src="{{ url_for('static', filename='img/'~rel[0].successor|taskimage) }}" width="20px" height="10px" alt=""></td>
                        <td class="text-start">{{ rel[0].successor.name }}</td>
                        <td class="text-center">{{ rel[0].link }}:{{ rel[0].lag|formatnumber }} </td>
                        <td class="text-center">{{ rel[1].link }}:{{ rel[1].lag|formatnumber }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if task_changes.added_resource %}
        <div id="addedResourceTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Added Resources: {{ task_changes.added_resource|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th colspan="2" scope="col" class="text-start">ID</th>
                        <th scope="col" class="text-start">Activity Name</th>
                        <th scope="col" class="text-start">Resource</th>
                        <th scope="col" class="text-start">Account</th>
                        <th scope="col" class="text-end">Budgeted Cost</th>
                        <th scope="col" class="text-end">Budgeted Qty</th>
                    </tr>
                </thead>
                <tbody>
                    {% for res in task_changes.added_resource %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ res.task.activity_id }}</td>
                        <td><img src="{{ url_for('static', filename='img/'~res.task|taskimage) }}" width="20px" height="10px" alt=""></td>
                        <td class="text-start">{{ res.task.name }}</td>
                        <td class="text-start text-nowrap">{{ res.name }}</td>
                        {% if res.account %}
                            <td class="text-start text-nowrap">{{ res.account.acct_name }}</td>
                        {% else %}
                            <td class="text-start text-nowrap">-</td>
                        {% endif %}
                        <td class="text-end">${{ res.cost.budget|formatnumber }}</td>
                        <td class="text-end">{{ res.unit_qty.budget|formatnumber }} </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if task_changes.deleted_resource %}
        <div id="deletedResourceTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Deleted Resources: {{ task_changes.deleted_resource|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th colspan="2" scope="col" class="text-start">ID</th>
                        <th scope="col" class="text-start">Activity Name</th>
                        <th scope="col" class="text-start">Resource</th>
                        <th scope="col" class="text-start">Account</th>
                        <th scope="col" class="text-end">Budgeted Cost</th>
                        <th scope="col" class="text-end">Budgeted Qty</th>
                    </tr>
                </thead>
                <tbody>
                    {% for res in task_changes.deleted_resource %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ res.task.activity_id }}</td>
                        <td><img src="{{ url_for('static', filename='img/'~res.task|taskimage) }}" width="20px" height="10px" alt=""></td>
                        <td class="text-start">{{ res.task.name }}</td>
                        <td class="text-start text-nowrap">{{ res.name }}</td>
                        {% if res.account %}
                            <td class="text-start text-nowrap">{{ res.account.acct_name }}</td>
                        {% else %}
                            <td class="text-start text-nowrap">-</td>
                        {% endif %}
                        <td class="text-end">{{ res.cost.budget|formatnumber }}</td>
                        <td class="text-end">{{ res.unit_qty.budget|formatnumber }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if task_changes.revised_cost %}
        <div id="revisedCostTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Revised Cost: {{ task_changes.revised_cost|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th colspan="2" scope="col" class="text-start">ID</th>
                        <th scope="col" class="text-start">Activity Name</th>
                        <th scope="col" class="text-start">Resource</th>
                        <th scope="col" class="text-start">Account</th>
                        <th scope="col" class="text-end">New Cost</th>
                        <th scope="col" class="text-end">Old Cost</th>
                        <th scope="col" class="text-end">Variance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for res in task_changes.revised_cost %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ res[0].task.activity_id }}</td>
                        <td><img src="{{ url_for('static', filename='img/'~res[0].task|taskimage) }}" width="20px" height="10px" alt=""></td>
                        <td class="text-start">{{ res[0].task.name }}</td>
                        <td class="text-start text-nowrap">{{ res[0].name }}</td>
                        {% if res[0].account %}
                            <td class="text-start text-nowrap">{{ res[0].account.acct_name }}</td>
                        {% else %}
                            <td class="text-start text-nowrap">-</td>
                        {% endif %}
                        <td class="text-end">{{ res[0].cost.budget|formatnumber }}</td>
                        <td class="text-end">{{ res[1].cost.budget|formatnumber }} </td>
                        <td class="text-end">{{ (res[0].cost.budget - res[1].cost.budget)|formatvariance }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if task_changes.revised_qty %}
        <div id="revisedQtyTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Revised Unit Qty: {{ task_changes.revised_qty|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th colspan="2" scope="col" class="text-start">ID</th>
                        <th scope="col" class="text-start">Activity Name</th>
                        <th scope="col" class="text-start">Resource</th>
                        <th scope="col" class="text-start">Account</th>
                        <th scope="col" class="text-end">New Unit Qty</th>
                        <th scope="col" class="text-end">Old Unit Qty</th>
                        <th scope="col" class="text-end">Variance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for res in task_changes.revised_qty %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ res[0].task.activity_id }}</td>
                        <td><img src="{{ url_for('static', filename='img/'~res[0].task|taskimage) }}" width="20px" height="10px" alt=""></td>
                        <td class="text-start">{{ res[0].task.name }}</td>
                        <td class="text-start text-nowrap">{{ res[0].name }}</td>
                        {% if res[0].account %}
                            <td class="text-start text-nowrap">{{ res[0].account.acct_name }}</td>
                        {% else %}
                            <td class="text-start text-nowrap">-</td>
                        {% endif %}
                        <td class="text-end">{{ res[0].unit_qty.budget|formatnumber }}</td>
                        <td class="text-end">{{ res[1].unit_qty.budget|formatnumber }} </td>
                        <td class="text-end">{{ (res[0].unit_qty.budget - res[1].unit_qty.budget)|formatvariance }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if task_changes.added_wbs %}
        <div id="addedWbsTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Added WBS Nodes: {{ task_changes.added_wbs|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th scope="col" class="text-start">WBS Code</th>
                        <th scope="col" class="text-start">WBS Name</th>
                        <th scope="col" class="text-start">Tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for wbs in task_changes.added_wbs %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ wbs[0] }}</td>
                        <td class="text-start">{{ wbs[1].name }}</td>
                        <td class="text-start">{{ wbs[1].assignments }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if task_changes.deleted_wbs %}
        <div id="deletedWbsTable" class="table-responsive-md  mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Deleted WBS Nodes: {{ task_changes.deleted_wbs|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th scope="col" class="text-start">WBS Code</th>
                        <th scope="col" class="text-start">WBS Name</th>
                        <th scope="col" class="text-start">Tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for wbs in task_changes.deleted_wbs %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ wbs[0] }}</td>
                        <td class="text-start">{{ wbs[1].name }}</td>
                        <td class="text-start">{{ wbs[1].assignments }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if task_changes.revised_wbs_name %}
        <div id="revisedWbsTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Revised WBS Names: {{ task_changes.revised_wbs_name|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th scope="col" class="text-start">WBS Code</th>
                        <th scope="col" class="text-start">New WBS Name</th>
                        <th scope="col" class="text-start">Old WBS Name</th>
                        <th scope="col" class="text-end">Match</th>
                    </tr>
                </thead>
                <tbody>
                    {% for wbs in task_changes.revised_wbs_name %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ wbs[0] }}</td>
                        <td class="text-start">{{ wbs[1].name }}</td>
                        <td class="text-start">{{ wbs[2].name }}</td>
                        {% if (60 <= wbs[3] < 80) and wbs[4] != 100 %}
                            <td class="text-center bg-warning rounded"><strong>{{ wbs[3] }}%</strong></td>
                        {% elif wbs[3] < 60 and wbs[4] != 100  %}
                            <td class="text-center bg-danger text-light rounded"><strong>{{ wbs[3] }}%</strong></td>
                        {% else %}
                            <td class="text-center">{{ wbs[3] }}%</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if task_changes.added_calendar %}
        <div id="addedCalTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Added Calendars: {{ task_changes.added_calendar|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th scope="col" class="text-start">Calendar</th>
                        <th scope="col" class="text-start">Type</th>
                        <th scope="col" class="text-start">Tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cal in task_changes.added_calendar %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ cal.name }}</td>
                        <td class="text-start text-nowrap">{{ cal.type }}</td>
                        <td class="text-start text-nowrap">{{ cal.assignments }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if task_changes.deleted_calendar %}
        <div id="deletedCalTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Deleted Calendars: {{ task_changes.deleted_calendar|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th scope="col" class="text-start">Calendar</th>
                        <th scope="col" class="text-start">Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cal in task_changes.deleted_calendar %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ cal.name }}</td>
                        <td class="text-start text-nowrap">{{ cal.type }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if task_changes.added_holiday %}
        <div id="addedHolTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Added Non-Work Days: {{ task_changes.added_holiday|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th scope="col" class="text-start">Calendar</th>
                        <th scope="col" class="text-start">Type</th>
                        <th scope="col" class="text-start">Date</th>
                        <th scope="col" class="text-start">Weekday</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cal in task_changes.added_holiday %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ cal[0].name }}</td>
                        <td class="text-start text-nowrap">{{ cal[0].type }}</td>
                        <td class="text-start">{{ cal[1]|formatdate }}</td>
                        <td class="text-start">{{ cal[1]|weekday }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if task_changes.deleted_holiday %}
        <div id="deletedHolTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Deleted Non-Work Days: {{ task_changes.deleted_holiday|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th scope="col" class="text-start">Calendar</th>
                        <th scope="col" class="text-start">Type</th>
                        <th scope="col" class="text-start">Date</th>
                        <th scope="col" class="text-start">Weekday</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cal in task_changes.deleted_holiday %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ cal[0].name }}</td>
                        <td class="text-start text-nowrap">{{ cal[0].type }}</td>
                        <td class="text-start">{{ cal[1]|formatdate }}</td>
                        <td class="text-start">{{ cal[1]|weekday }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if task_changes.added_workday %}
        <div id="addedWDTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Added Work Days: {{ task_changes.added_workday|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th scope="col" class="text-start">Calendar</th>
                        <th scope="col" class="text-start">Type</th>
                        <th scope="col" class="text-start">Date</th>
                        <th scope="col" class="text-start">Weekday</th>

                    </tr>
                </thead>
                <tbody>
                    {% for cal in task_changes.added_workday %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ cal[0].name }}</td>
                        <td class="text-start text-nowrap">{{ cal[0].type }}</td>
                        <td class="text-start">{{ cal[1]|formatdate }}</td>
                        <td class="text-start">{{ cal[1]|weekday }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if task_changes.deleted_workday %}
        <div id="deletedWDTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="h5 text-dark text-nowrap m-0">Deleted Work Days: {{ task_changes.deleted_workday|length|formatnumber }}</caption>
                <thead>
                    <tr class="table-secondary">
                        <th scope="col">#</th>
                        <th scope="col" class="text-start">Calendar</th>
                        <th scope="col" class="text-start">Type</th>
                        <th scope="col" class="text-start">Date</th>
                        <th scope="col" class="text-start">Weekday</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cal in task_changes.deleted_workday %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-start text-nowrap">{{ cal[0].name }}</td>
                        <td class="text-start text-nowrap">{{ cal[0].type }}</td>
                        <td class="text-start">{{ cal[1]|formatdate }}</td>
                        <td class="text-start">{{ cal[1]|weekday }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}