{% extends "_layout.html" %}
{% block nav_content %}
    <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-speedometer2 me-1"></i>Dashboard</a>
    <a class="nav-link" href="{{ url_for('comparison') }}">Comparison</a>
    <a class="nav-link" href="{{ url_for('warnings') }}">Warnings</a>
{% endblock %}
{% block main_content %}
<section class="bg-light text-dark border-bottom p-1">
    <div class="container-fluid">
        <h5 class="mt-1">{{ schedules.current.name }}</h5>
    </div>
</section>

<section class="py-3 px-md-4 bg-light">
    <div class="container-lg">
        {% from 'components/task_list_modal.j2' import task_list_modal %}
        <div class="row mb-3 gy-3 text-center">
            <!-- Update Period -->
            <div class="col-md-6 no-break"> 
                <div class="card h-100 no-break">
                    <div class="card-body pb-0">
                        <p class="m-0 pb-1 mb-1 border-bottom fs-5">Update Period</p>
                        <p class="lead mb-1"><strong>
                            {{ schedules.previous.data_date|formatdate }} <i class="bi bi-forward-fill h5"></i> {{ schedules.current.data_date|formatdate}}
                        </strong></p>
                        <p class="mb-1"><strong>{{ (schedules.current.data_date - schedules.previous.data_date).days|formatnumber }}</strong> day update period</p>
                        <p class="small text-secondary">
                        {% if today_date >= schedules.current.data_date %}
                            Updated<strong> {{ (today_date - schedules.current.data_date).days|formatnumber }}</strong> days ago
                        {% else %}
                            Projected<strong> {{ (schedules.current.data_date - today_date).days|formatnumber }}</strong> days ahead
                        {% endif %}
                        </p>
                     
                    </div>
                </div>
            </div>
            <!-- Finish Date -->
            <div class="col-md-6 no-break">
                <div class="card h-100 no-break">
                    <div class="card-body pb-0">
                        <p class="m-0 pb-1 mb-1 border-bottom fs-5">Finish Date</p>
                        <p class="lead mb-1"><strong>
                            {{ schedules.previous.finish|formatdate }} <i class="bi bi-forward-fill h5"></i> {{ schedules.current.finish|formatdate}}
                        </strong></p>
                        {% with %}
                            {% set diff = (schedules.previous.finish - schedules.current.finish).days %}
                            <p class="mb-1">
                            {% if diff > 0 %}
                                <i class="bi bi-caret-up-fill text-info h5"></i>
                                Improved <strong>{{ diff|formatvariance }}</strong> days
                            {% elif diff < 0 %}
                                <i class="bi bi-caret-down-fill text-danger h5"></i>
                                Lost <strong>{{ diff|formatvariance }}</strong> days
                            {% else %}
                                No change from previous
                            {% endif %}
                            </p>
                        {% endwith %}
                        {% with %}
                            {% set dur_from_now = (schedules.current.finish - today_date).days %}
                            <p class="small text-secondary">
                            {% if dur_from_now > 0 %}
                                Finish date is <strong>{{ dur_from_now|abs|formatnumber }}</strong> days from now
                            {% elif dur_from_now < 0 %}
                                Finish date was <strong>{{ dur_from_now|abs|formatnumber }}</strong> days ago
                            {% else %}
                                Finish date is today!
                            {% endif %}
                            </p>
                        {% endwith %}
                    </div>
                </div>
            </div>
            <!-- Work Complete -->
            <div class="col-lg-4 col-md-6 no-break">
                <div class="card h-100 no-break">
                    <div class="card-body">
                        <p class="m-0 pb-1 border-bottom fs-5">Work Complete</p>
                        <p class="lead mb-0"><strong>{{ schedules.current.percent_complete|formatnumber }}%</strong></p>
                        <p class="mb-1 text-secondary">Based on activity progress</p>
                        <div class="progress mb-2" style="height: 14px;">
                        {% with %}
                            {% set diff = schedules.current.percent_complete - schedules.previous.percent_complete %}
                            {% if diff >= 0 %}
                                {% set curr_val = schedules.current.percent_complete - diff %}
                                {% set prev_val = diff %}
                                {% set icon = 'bi-caret-up-fill' %}
                                {% set prev_clr = "info" %}
                            {% else %}
                                {% set curr_val = schedules.current.percent_complete %}
                                {% set prev_val = diff|abs %}
                                {% set icon = 'bi-caret-down-fill' %}
                                {% set prev_clr = "danger" %}
                            {% endif %}
                            <div 
                                class="progress-bar progress-bar-striped progress-bar-animated"
                                role="progressbar"
                                aria-valuenow="{{ curr_val }}" aria-valuemin="0" aria-valuemax="100"
                                style="width: {{ curr_val }}%">
                            </div>
                            <div 
                                class="progress-bar bg-{{ prev_clr }} progress-bar-striped progress-bar-animated"
                                role="progressbar"
                                aria-valuenow="{{ prev_val }}" aria-valuemin="0" aria-valuemax="100"
                                style="width: {{ prev_val }}%">
                            </div>
                        </div>
                        <p class="small mb-0">
                            <i class="bi {{ icon }} h5 text-{{ prev_clr }} p-0"></i>
                            {% if diff > 0 %}
                                Increase of <strong>{{ diff|formatvariance }}%</strong>
                            {% elif diff < 0 %}
                                Decrease of <strong>{{ diff|formatvariance }}%</strong>
                            {% else %}
                                No Change from Previous
                            {% endif %}
                        {% endwith %}
                        </p>

                    </div>
                </div>
            </div>
            <!-- Schedule Duration -->
            <div class="col-lg-4 col-md-6 no-break">
                <div class="card h-100 no-break">
                    <div class="card-body">
                        <p class="m-0 pb-1 border-bottom fs-5">Schedule Duration</p>
                        {% with %}
                            {% set total_dur = (schedules.current.finish - schedules.current.start).days %}
                            {% set prev_dur = (schedules.previous.finish - schedules.previous.start).days %}
                            {% set exp_dur = (schedules.current.data_date - schedules.current.start).days %}
                            {% set prev_exp_dur = (schedules.previous.data_date - schedules.previous.start).days %}
                            
                            <p class="lead mb-0"><strong>{{ schedules.current.duration|formatnumber }}</strong> days</p>
                            <p class="mb-1 text-secondary">{{ schedules.current.remaining_duration|formatnumber }} days remaining</p>
                            <div class="progress mb-2" style="height: 14px;">
                                <div 
                                    class="progress-bar progress-bar-striped progress-bar-animated"
                                    role="progressbar"
                                    aria-valuenow="{{ (exp_dur / total_dur) * 100 }}" aria-valuemin="0" aria-valuemax="100"
                                    style="width: {{ (exp_dur / total_dur) * 100 }}%">
                                </div>
                            </div>
                            <p class="small mb-0">
                                {% set diff = total_dur - prev_dur %}
                                {% if diff > 0 %}
                                    <i class="bi bi-caret-up-fill h5 text-danger"></i>
                                    Duration increased <strong>{{ diff|formatvariance }}</strong> days
                                {% elif diff < 0 %}
                                    <i class="bi bi-caret-up-fill h5 text-success"></i>
                                    Duration decreased <strong>{{ diff|formatvariance }}</strong> days
                                {% else %}
                                    No change from previous
                                {% endif %}
                            </p>
                        {% endwith %}
                    </div>
                </div>
            </div>
            <!-- performance index -->
            <div class="col-lg-4 col-md-6 no-break">
                <div class="card h-100 no-break">
                    <div class="card-body">
                        <p class="m-0 pb-1 border-bottom fs-5">Performance Score</p>

                        {% if schedules.current.data_date == schedules.previous.data_date %}
                            <p class="lead mb-0"><strong>N/A</strong></p>

                        {% else %}
                            {% set planned_progress = schedules.previous.planned_progress(schedules.current.data_date) %}
                            {% if planned_progress.planned_start %}
                                {% set start_score = changes.started|length / planned_progress.planned_start|length * 100 %}
                            {% else %}
                                {% set start_score = 100 %}
                            {% endif %}

                            {% if planned_progress.planned_finish %}
                                {% set finish_score = changes.finished|length / planned_progress.planned_finish|length * 100 %}
                            {% else %}
                                {% set finish_score = 100 %}
                            {% endif %}

                            {% if planned_progress.planned_start and planned_progress.planned_finish %}
                                {% set total_score = (changes.finished|length + changes.started|length) / (planned_progress.planned_finish|length + planned_progress.planned_start|length) * 100 %}
                                <p class="lead mb-0"><strong>{{ total_score|formatnumber }}%</strong></p>
                            {% else %}
                                <p class="lead mb-0"><strong>N/A</strong></p>
                            {% endif %}
                            
                            <p class="mb-1 text-secondary">
                                {{ start_score|formatnumber }}% Start
                                (<a href="#startedProgressModal" data-bs-toggle="modal">{{ changes.started|length }}</a> of
                                <a href="#plannedStartModal" data-bs-toggle="modal">{{ planned_progress.planned_start|length }})</a>
                            </p>
                            <p class="mb-1 text-secondary">{{ finish_score|formatnumber }}% Finish
                                (<a href="#finishedProgressModal" data-bs-toggle="modal">{{ changes.finished|length }}</a> of
                                <a href="#plannedFinishModal" data-bs-toggle="modal">{{ planned_progress.planned_finish|length }})</a>
                            </p>
                            {{ task_list_modal("startedProgressModal", "Started This Update", changes.started|sortbystart) }}
                            {{ task_list_modal("finishedProgressModal", "Completed This Update", changes.finished|sortbyfinish) }}
                            {{ task_list_modal("plannedStartModal", "Planned to Start This Update", planned_progress.planned_start) }}
                            {{ task_list_modal("plannedFinishModal", "Planned to Finish This Update", planned_progress.planned_finish) }}
                        {% endif %}

                    </div>
                </div>
            </div>
            <!-- Activity Status Chart -->
            <div class="col-lg-7 d-print-block no-break">
                <div class="card h-100 no-break">
                    <div class="card-body">
                        <p class="m-0 pb-1 border-bottom fs-5">Activity Status Chart</p>
                        <div class="pt-3 px-2" style="height: 150px;">
                            <canvas id="statusChart"></canvas>
                        </div>
                    </div>
                </div>       
            </div>
            <!-- Activities -->
            <div class="col-lg-5 col-md-6 no-break">
                <div class="card h-100 no-break">
                    <div class="card-body">
                        <p class="m-0 pb-1 border-bottom fs-5">Activities</p>
                        <p class="lead mb-0"><strong>{{ schedules.current.tasks()|length|formatnumber }}</strong> total</p>
                        <p class="mb-1 text-secondary">
                            {{ schedules.current.tasks(completed=True)|length|formatnumber }} complete
                            <i class="bi bi-caret-right"></i>
                            {{ schedules.current.tasks(in_progress=True)|length|formatnumber }} in progress
                        </p>
                        <div class="progress mb-2" style="height: 14px;">
                        {% with %} 
                            {% set per = (schedules.current.tasks(completed=True)|length / schedules.current.tasks()|length) * 100 %}
                            {% set prev_per = (schedules.previous.tasks(completed=True)|length / schedules.previous.tasks()|length) * 100 %}
                            {% set diff = per - prev_per %}
                            {% if diff > 0 %}
                                {% set curr_val = per - diff %}
                                {% set prev_val = diff %}
                                {% set clr = 'info' %}
                            {% elif diff <= 0 %}
                                {% set curr_val = per %}
                                {% set prev_val = diff|abs %}
                                {% set clr = 'danger' %}
                            {% endif %}
                            <div 
                                class="progress-bar progress-bar-striped progress-bar-animated"
                                role="progressbar"
                                aria-valuenow="{{ curr_val }}" aria-valuemin="0" aria-valuemax="100"
                                style="width: {{ curr_val }}%">
                            </div>
                            <div 
                                class="progress-bar bg-{{ clr }} progress-bar-striped progress-bar-animated"
                                role="progressbar"
                                aria-valuenow="{{ prev_val }}" aria-valuemin="0" aria-valuemax="100"
                                style="width: {{ prev_val }}%">
                            </div>
                        {% endwith %}
                        </div>
                        <a href="#completedTasksModal" class="small mb-0" data-bs-toggle="modal" data-bs-target="#completedTasksModal">
                        {% with %}
                            {% set diff = changes.finished|length %}                            
                            {% if diff > 0 %}
                                <i class="bi bi-caret-up-fill h5 text-info p-0"></i>
                                <strong>{{ diff|formatvariance }}</strong> completed this update
                            {% elif diff < 0 %}
                                <i class="bi bi-caret-down-fill h5 text-danger p-0"></i>
                                <strong>{{ diff|formatvariance }}</strong> completed this update
                            {% else %}
                                No activities completed this update
                            {% endif %}
                        {% endwith %}
                        </a>
                        {{ task_list_modal("completedTasksModal", "Completed This Update", changes.finished) }}
                        
                    </div>
                </div>
            </div>
            <!-- Activity Float -->
            <div class="col-lg-5 col-md-6 no-break">
                <div class="card h-100 no-break">
                    <div class="card-body">
                        <p class="m-0 pb-1 border-bottom fs-5">Activity Float</p>
                        <p class="lead mb-0">Average total float <strong>{{ schedules.current.average_tf|formatnumber }}</strong> days</p>
                        {% with %}
                            <p class="mb-1 small">
                            {% set diff = schedules.current.average_tf - schedules.previous.average_tf %}
                            {% if diff > 0 %}
                                <i class="bi bi-caret-up-fill h5 text-info p-0"></i>
                                Up <strong>{{ diff|formatvariance }}</strong> days
                            {% elif diff < 0 %}
                                <i class="bi bi-caret-down-fill h5 text-danger p-0"></i>
                                Down <strong>{{ diff|formatvariance }}</strong> days
                            {% endif %}
                            </p>
                        {% endwith %}
                        <p class="lead mb-0">Lowest total float <strong>{{ schedules.current.lowest_tf|formatnumber }}</strong></p>
                        {% with %}
                            <p class="mb-0 small">
                            {% set diff = schedules.current.lowest_tf - schedules.previous.lowest_tf %}
                            {% if diff > 0 %}
                                <i class="bi bi-caret-up-fill h5 text-info p-0"></i>
                                Up <strong>{{ diff|formatvariance }}</strong> days
                            {% elif diff < 0 %}
                                <i class="bi bi-caret-down-fill h5 text-danger p-0"></i>
                                Down <strong>{{ diff|formatvariance }}</strong> days
                            {% else %}
                                No change from previous
                            {% endif %}
                            </p>
                        {% endwith %}
                    </div>
                </div>       
            </div>
            <!-- Activity Float Chart -->
            <div class="col-lg-7 d-print-block no-break">
                <div class="card h-100 no-break">
                    <div class="card-body">
                        <p class="m-0 pb-1 border-bottom fs-5">Total Float Chart</p>
                        <div class="pt-3 px-2" style="height: 150px;">
                            <canvas id="floatChart"></canvas>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
        <div class="row mb-3 gy-3 text-center">
            <!-- Cost Loading -->
            <div class="col-md-6 no-break">
                <div class="card h-100 no-break">
                    <div class="card-body">
                        <p class="m-0 pb-1 border-bottom fs-5">Cost Loading</p>
                        <div class="row gy-3">
                            <div class="pe-lg-4">
                            {% if not schedules.current.cost %}
                                <p class="lead">Schedule is not cost loaded</p>
                            {% else %}
                                <p class="lead mb-0"><strong>${{ schedules.current.cost.budget|formatnumber }}</strong> budget</p>
                                <p class="mb-1 text-secondary">
                                    ${{ schedules.current.cost.actual|formatnumber }} to date
                                </p>
                                <div class="progress mb-2" style="height: 14px;">
                                {% with %} 
                                    {% set diff = schedules.current.cost.percent - schedules.previous.cost.percent %}
                                    {% if diff > 0 %}
                                        {% set curr_val = schedules.current.cost.percent - diff %}
                                        {% set prev_val = diff %}
                                        {% set clr = 'info' %}
                                    {% elif diff <= 0 %}
                                        {% set curr_val = schedules.current.cost.percent %}
                                        {% set prev_val = diff|abs %}
                                        {% set clr = 'danger' %}
                                    {% endif %}
                                    <div 
                                        class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar"
                                        aria-valuenow="{{ curr_val }}" aria-valuemin="0" aria-valuemax="100"
                                        style="width: {{ curr_val }}%">
                                    </div>
                                    <div 
                                        class="progress-bar bg-{{ clr }} progress-bar-striped progress-bar-animated"
                                        role="progressbar"
                                        aria-valuenow="{{ prev_val }}" aria-valuemin="0" aria-valuemax="100"
                                        style="width: {{ prev_val }}%">
                                    </div>
                                {% endwith %}
                                </div>
                                <p class="small mb-0">
                                {% with %}
                                    {% set diff = schedules.current.cost.actual - schedules.previous.cost.actual %}                            
                                    {% if diff > 0 %}
                                        <i class="bi bi-caret-up-fill h5 text-info p-0"></i>
                                        <strong>${{ diff|formatvariance }}</strong> from previous
                                    {% elif diff < 0 %}
                                        <i class="bi bi-caret-down-fill h5 text-danger p-0"></i>
                                        <strong>${{ diff|formatvariance }}</strong> from previous
                                    {% else %}
                                        No actual cost change this update
                                    {% endif %}
                                {% endwith %}
                                </p>
                            {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Resource Loading -->
            <div class="col-md-6 no-break">
                <div class="card h-100 no-break">
                    <div class="card-body">
                        <p class="m-0 pb-1 border-bottom fs-5">Resource Loading</p>
                        <div class="row gy-3">
                            <div class="pe-lg-4">
                            {% if not schedules.current.unit_qty %}
                                <p class="lead">Schedule is not resource loaded</p>
                            {% else %}
                                <p class="lead mb-0"><strong>{{ schedules.current.unit_qty.budget|formatnumber }}</strong> budgeted units</p>
                                <p class="mb-1 text-secondary">
                                    {{ schedules.current.unit_qty.actual|formatnumber }} units to date
                                </p>
                                <div class="progress mb-2" style="height: 14px;">
                                {% with %} 
                                    {% set diff = schedules.current.unit_qty.percent - schedules.previous.unit_qty.percent %}
                                    {% if diff > 0 %}
                                        {% set curr_val = schedules.current.unit_qty.percent - diff %}
                                        {% set prev_val = diff %}
                                        {% set clr = 'info' %}
                                    {% elif diff <= 0 %}
                                        {% set curr_val = schedules.current.unit_qty.percent %}
                                        {% set prev_val = diff|abs %}
                                        {% set clr = 'danger' %}
                                    {% endif %}
                                    <div 
                                        class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar"
                                        aria-valuenow="{{ curr_val }}" aria-valuemin="0" aria-valuemax="100"
                                        style="width: {{ curr_val }}%">
                                    </div>
                                    <div 
                                        class="progress-bar bg-{{ clr }} progress-bar-striped progress-bar-animated"
                                        role="progressbar"
                                        aria-valuenow="{{ prev_val }}" aria-valuemin="0" aria-valuemax="100"
                                        style="width: {{ prev_val }}%">
                                    </div>
                                {% endwith %}
                                </div>
                                <p class="small mb-0">
                                {% with %}
                                    {% set diff = schedules.current.unit_qty.actual - schedules.previous.unit_qty.actual %}                            
                                    {% if diff > 0 %}
                                        <i class="bi bi-caret-up-fill h5 text-info p-0"></i>
                                        <strong>{{ diff|formatvariance }}</strong> from previous
                                    {% elif diff < 0 %}
                                        <i class="bi bi-caret-down-fill h5 text-danger p-0"></i>
                                        <strong>{{ diff|formatvariance }}</strong> from previous
                                    {% else %}
                                        No actual quantity change this update
                                    {% endif %}
                                {% endwith %}
                                </p>
                            {% endif %}
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3 gy-3 text-center no-break">
            <div class="col">
                <div class="card h-100 no-break">
                    <div class="card-body">
                        <p class="m-0 pb-1 border-bottom fs-5">Progress Histogram</p>
                        <div class="pt-3 px-2" style="height: 400px;">
                            <canvas id="progressChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if schedules.current.cost %}
        <div class="row mb-3 gy-3 text-center no-break">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="m-0 pb-1 border-bottom fs-5">Cost Histogram</p>
                        <div class="pt-3 px-2" style="height: 400px;">
                            <canvas id="costLoadingChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
{% block additional_js %}
<script src="{{ url_for('static', filename='js/packages/chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/packages/date_adapter.js') }}"></script>
<script src="{{ url_for('static', filename='js/time_charts.js') }}"></script>
<script>
    const cost_data = JSON.parse('{{ cash_flow.current | tojson | safe}}')
    const work_data = JSON.parse('{{ work_flow.current | tojson | safe}}')
    const float_data = JSON.parse('{{ float_data | tojson | safe}}')
    const status_data = JSON.parse('{{ status_data | tojson | safe}}')

    let ctxWorkChart = document.getElementById('progressChart');
    let workChart = new timeChart(ctxWorkChart, work_data)

    if (!(Object.keys(cost_data).length === 0)) {
        let ctxCostChart = document.getElementById('costLoadingChart');
        let costChart = new timeChart(ctxCostChart, cost_data)
    }

    let ctxFloatChart = document.getElementById('floatChart');
    let floatChart = new horizontalStackedChart(ctxFloatChart, float_data, '%')

    let ctxStatusChart = document.getElementById('statusChart');
    let statusChart = new horizontalStackedChart(ctxStatusChart, status_data)
</script>
{% endblock %}