{% extends "_layout.html" %}
{% block nav_content %}
    <a class="nav-link" aria-current="page" href="{{ url_for('dashboard') }}"><i class="bi bi-speedometer2 me-1"></i>Dashboard</a>
    <a class="nav-link" aria-current="page" href="{{ url_for('comparison') }}">Comparison</a>
    <a class="nav-link active" aria-current="page" href="#">Warnings</a>
    <a class="nav-link" aria-current="page" href="{{ url_for('critical') }}">Critical Path</a>

{% endblock %}
{% block main_content %}
<section class="bg-light text-dark border-bottom p-1">
    <div class="container-fluid">
        <h5 class="mt-1">{{ schedules.current.name }}</h5>
    </div>
</section>

<section class="py-3 px-md-4 bg-white">
    {% from 'components/badged_element.j2' import badge %}
    <div class="container-lg">
        <h5>Schedule Warnings Summary</h5>
        <div class="row gx-5 mb-4">
            {{ badge('Open Predecessors', 'openPredecessorTable', warnings.open_predecessor|length, 1) }}
            {{ badge('Open Successors', 'openSuccessorTable', warnings.open_successor|length, 1) }}
            {{ badge('Open Starts', 'openStartTable', warnings.open_start|length) }}
            {{ badge('Open Finishes', 'openFinishTable', warnings.open_finish|length) }}
            {{ badge('Actual Dates &#8805 Data Date', 'actualDateTable', warnings.invalid_actual_dates|length) }}
            {{ badge('Durations > 20 Days', 'longDurationTable', warnings.long_durations|length) }}
            {{ badge('Duplicate Names', 'duplicateNameTable', warnings.duplicate_names|length) }}
            {{ badge('Negative Lags', 'negativeLagTable', warnings.negative_lag|length) }}
            {{ badge('Finish-Start Lags', 'fsLagTable', warnings.fs_lag|length) }}
            {{ badge('Long Lags (&#8805 10 days)', 'longLagTable', warnings.long_lag|length) }}
            {{ badge('Lags &#8805 Task Duration', 'falseLagTable', warnings.false_lag|length) }}
            {{ badge('Start-Finish Logic', 'sfLogicTable', warnings.sf_logic|length) }}
            {{ badge('Duplicate Logic', 'duplicateLogicTable', warnings.duplicate_logic|length) }}
            {{ badge('Redundant Logic', 'redundantLogicTable', warnings.redundant_logic|length) }}
            {{ badge('Cost Variances', 'costVarianceTable', warnings.cost_variance|length) }}
            {{ badge('Earned Value Variances', 'evVarianceTable', warnings.ev_variance|length) }}
        </div>
    </div>
</section>
<section class="py-3 px-md-4 bg-white">
    {% from 'components/image_element.j2' import task_image %}

    <div class="container-lg">
        {% if warnings.open_predecessor|length > 1 %}
        <div id="openPredecessorTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Open Predecessors: {{ warnings.open_predecessor|length|formatnumber }}</h5>
                    <p class="f-sm m-0 p-0">The schedule should contain only one (1) activity with missing a Predecessor logic tie.</p>
                </caption>
                <thead>
                    <tr class="table-secondary ">
                        <th>#</th>
                        <th colspan="2">ID</th>
                        <th>Activity Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in warnings.open_predecessor %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ task.activity_id }}</td>
                        <td>{{ task_image(task) }}</td>
                        <td>{{ task.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if warnings.open_successor|length > 1 %}
        <div id="openSuccessorTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Open Successors: {{ warnings.open_successor|length|formatnumber }}</h5>
                    <p class="f-sm m-0 p-0">The schedule should contain only one (1) activity with missing a Successor logic tie.</p>
                </caption>
                <thead>
                    <tr class="table-secondary ">
                        <th>#</th>
                        <th colspan="2">ID</th>
                        <th>Activity Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in warnings.open_successor %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ task.activity_id }}</td>
                        <td>{{ task_image(task) }}</td>
                        <td>{{ task.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if warnings.open_start|length %}
        <div id="openStartTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Open (Dangling) Starts: {{ warnings.open_start|length|formatnumber }}</h5>
                    <p class="f-sm m-0 p-0">
                        The following activities have at least one (1) Predecessor relationship,
                        but they are missing either a Finish-Start [FS] or Start-Start [SS] Predecessor link
                        necessary to drive their start date.
                    </p>
                </caption>
                <thead>
                    <tr class="table-secondary ">
                        <th>#</th>
                        <th colspan="2">ID</th>
                        <th>Activity Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in warnings.open_start %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ task.activity_id }}</td>
                        <td>{{ task_image(task) }}</td>
                        <td>{{ task.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if warnings.open_finish|length %}
        <div id="openFinishTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Open (Dangling) Finishes: {{ warnings.open_finish|length|formatnumber }}</h5>
                    <p class="f-sm m-0 p-0">
                        The following activities have at least one (1) Successor relationship,
                        but they are missing either a Finish-Start [FS] or Finish-Finish [FF] Successor link
                        necessary for their finish date to be tied into project completion.
                    </p>
                </caption>
                <thead>
                    <tr class="table-secondary ">
                        <th>#</th>
                        <th colspan="2">ID</th>
                        <th>Activity Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in warnings.open_finish %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ task.activity_id }}</td>
                        <td>{{ task_image(task) }}</td>
                        <td>{{ task.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if warnings.invalid_actual_dates|length %}
        <div id="actualDateTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Actual Dates &#8805 Data Date: {{ warnings.invalid_actual_dates|length|formatnumber }}</h5>
                    <p class="f-sm m-0 p-0">
                        The following activities have been updated with an Actual Date on or after the Data Date.
                    </p>
                </caption>
                <thead>
                    <tr class="table-secondary ">
                        <th>#</th>
                        <th colspan="2">ID</th>
                        <th>Activity Name</th>
                        <th>Actual Start</th>
                        <th>Actual Finish</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in warnings.invalid_actual_dates %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ task.activity_id }}</td>
                        <td>{{ task_image(task) }}</td>
                        <td>{{ task.name }}</td>
                        {% if task.act_start_date >= schedules.current.data_date %}
                            <td>{{ task.act_start_date|formatdate }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if task.is_completed and task.act_end_date >= schedules.current.data_date %}
                            <td>{{ task.act_end_date|formatdate }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if warnings.long_durations|length %}
        <div id="longDurationTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Long Durations (> 20 Days)</h5>

                </caption>
                <thead>
                    <tr class="table-secondary">
                        <th>#</th>
                        <th colspan="2">Task ID</th>
                        <th>Task Name</th>
                        <th>Cal</th>
                        <th class="text-center">Duration</th>
                    </tr>
                </thead>
                <tbody class="collapse show" id="duplicateNames">
                {% for task in warnings.long_durations %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ task.activity_id }}</td>
                        <td>{{ task_image(task) }}</td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.calendar.name }}</td>
                        <td class="text-center">{{ task.original_duration|formatnumber }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if warnings.duplicate_names|length %}
        <div id="duplicateNameTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Duplicate Names</h5>

                </caption>
                <thead>
                    <tr class="table-secondary">
                        <th>#</th>
                        <th colspan="2">Task ID</th>
                        <th>Task Name</th>
                    </tr>
                </thead>
                <tbody class="collapse show" id="duplicateNames">
                {% for tasks in warnings.duplicate_names %}
                    <tr class="mt-2">
                        <th colspan="4">{{ tasks[0].name }}: {{ tasks|length|formatnumber }}</th>
                    </tr>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ task.activity_id }}</td>
                        <td>{{ task_image(task) }}</td>
                        <td>{{ task.name }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if warnings.negative_lag|length %}
        <div id="negativeLagTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Negative Lags: {{ warnings.negative_lag|length|formatnumber }}</h5>
                    <p class="f-sm m-0 p-0">
                        Use of negative lags (leads) should be avoided. Either the predecessor activity
                        should be broken up into greater detail to avoid the use of a lag, or a SS relationship
                        with a positive lag should be used.
                    </p>
                </caption>
                <thead>
                    <tr class="table-secondary ">
                        <th>#</th>
                        <th colspan="2">Pred ID</th>
                        <th>Pred Name</th>
                        <th colspan="2">Succ ID</th>
                        <th>Succ Name</th>
                        <th class="text-center">Link</th>
                        <th class="text-center">Lag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rel in warnings.negative_lag %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ rel.predecessor.activity_id }}</td>
                        <td>{{ task_image(rel.predecessor) }}</td>
                        <td>{{ rel.predecessor.name }}</td>
                        <td class="text-nowrap">{{ rel.successor.activity_id }}</td>
                        <td>{{ task_image(rel.successor) }}</td>
                        <td>{{ rel.successor.name }}</td>
                        <td class="text-center">{{ rel.link }}</td>
                        <td class="text-center">{{ rel.lag|formatnumber }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if warnings.fs_lag|length %}
        <div id="fsLagTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Finish-Start Lags: {{ warnings.fs_lag|length|formatnumber }}</h5>
                    <p class="f-sm m-0 p-0">
                        Use of lags on Finish-Start [FS] relationships cause ambiguity and should be avoided.
                        Instead, add a new activity to respresent what needs to occur during the lag or gap between activities.
                    </p>
                </caption>
                <thead>
                    <tr class="table-secondary">
                        <th>#</th>
                        <th colspan="2">Pred ID</th>
                        <th>Pred Name</th>
                        <th colspan="2">Succ ID</th>
                        <th>Succ Name</th>
                        <th class="text-center">Link</th>
                        <th class="text-center">Lag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rel in warnings.fs_lag %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ rel.predecessor.activity_id }}</td>
                        <td>{{ task_image(rel.predecessor) }}</td>
                        <td>{{ rel.predecessor.name }}</td>
                        <td class="text-nowrap">{{ rel.successor.activity_id }}</td>
                        <td>{{ task_image(rel.successor) }}</td>
                        <td>{{ rel.successor.name }}</td>
                        <td class="text-center">{{ rel.link }}</td>
                        <td class="text-center">{{ rel.lag|formatnumber }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if warnings.long_lag|length %}
        <div id="longLagTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Long Lags (> 10 days): {{ warnings.long_lag|length|formatnumber }}</h5>
                    <p class="f-sm m-0 p-0">
                        Use of long lags can indicate that there is not enough detail in the schedule and should be avoided.
                        Long lags may hide gaps in planning that can cause actual progress/sequencing to deviate from the schedule,
                        making schedule projections unreliable.
                    </p>
                </caption>
                <thead>
                    <tr class="table-secondary">
                        <th>#</th>
                        <th colspan="2">Pred ID</th>
                        <th>Pred Name</th>
                        <th colspan="2">Succ ID</th>
                        <th>Succ Name</th>
                        <th class="text-center">Link</th>
                        <th class="text-center">Lag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rel in warnings.long_lag %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ rel.predecessor.activity_id }}</td>
                        <td>{{ task_image(rel.predecessor) }}</td>
                        <td>{{ rel.predecessor.name }}</td>
                        <td class="text-nowrap">{{ rel.successor.activity_id }}</td>
                        <td>{{ task_image(rel.successor) }}</td>
                        <td>{{ rel.successor.name }}</td>
                        <td class="text-center">{{ rel.link }}</td>
                        <td class="text-center">{{ rel.lag|formatnumber }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if warnings.false_lag|length %}
        <div id="falseLagTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Lags &#8805 Activity Duration: {{ warnings.false_lag|length|formatnumber }}</h5>
                    <p class="f-sm m-0 p-0">
                        Lags that are greater than the respective activity duration may hide available project float.
                        These lags should be reduced, or replaced with a Finish-Start [FS] relationship with 0 lag.
                        <ul>
                            <li class="f-sm m-0 p-0">Start-Start [SS] Links - Lags should not exceed the predecessor duration</li>
                            <li class="f-sm m-0 p-0">Finish-Finish [FF] Links - Lags should not exceed the successor duration</li>
                        </ul>
                    </p>
                </caption>
                <thead>
                    <tr class="table-secondary">
                        <th>#</th>
                        <th colspan="2">Pred ID</th>
                        <th>Pred Name</th>
                        <th>Pred Dur</th>
                        <th colspan="2">Succ ID</th>
                        <th>Succ Name</th>
                        <th>Succ Dur</th>
                        <th class="text-center">Link</th>
                        <th class="text-center">Lag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rel in warnings.false_lag %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ rel.predecessor.activity_id }}</td>
                        <td>{{ task_image(rel.predecessor) }}</td>
                        <td>{{ rel.predecessor.name }}</td>
                        <td>{{ rel.predecessor.original_duration }}</td>
                        <td class="text-nowrap">{{ rel.successor.activity_id }}</td>
                        <td>{{ task_image(rel.successor) }}</td>
                        <td>{{ rel.successor.name }}</td>
                        <td>{{ rel.successor.original_duration }}</td>
                        <td class="text-center">{{ rel.link }}</td>
                        <td class="text-center">{{ rel.lag|formatnumber }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if warnings.sf_logic|length %}
        <div id="sfLogicTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Start-Finish Relationships: {{ warnings.sf_logic|length|formatnumber }}</h5>
                    <p class="f-sm m-0 p-0">Use of Start-Finish [SF] relationship links should be avoided</p>
                </caption>
                <thead>
                    <tr class="table-secondary">
                        <th>#</th>
                        <th colspan="2">Pred ID</th>
                        <th>Pred Name</th>
                        <th>Pred Dur</th>
                        <th colspan="2">Succ ID</th>
                        <th>Succ Name</th>
                        <th>Succ Dur</th>
                        <th class="text-center">Link</th>
                        <th class="text-center">Lag</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rel in warnings.sf_logic %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ rel.predecessor.activity_id }}</td>
                        <td>{{ task_image(rel.predecessor) }}</td>
                        <td>{{ rel.predecessor.name }}</td>
                        <td>{{ rel.predecessor.original_duration }}</td>
                        <td class="text-nowrap">{{ rel.successor.activity_id }}</td>
                        <td>{{ task_image(rel.successor) }}</td>
                        <td>{{ rel.successor.name }}</td>
                        <td>{{ rel.successor.original_duration }}</td>
                        <td class="text-center">{{ rel.link }}</td>
                        <td class="text-center">{{ rel.lag|formatnumber }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if warnings.duplicate_logic|length %}
        <div id="duplicateLogicTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Duplicate Logic: {{ warnings.duplicate_logic|length|formatnumber }}</h5>
                    <p class="f-sm m-0 p-0">
                        Duplicate logic occurs when two activities have multiple relationship links where one of the 
                        relationships is a Finish-Start [FS] link. The duplicate Start-Start [SS] and/or Finish-Finish [FF]
                        links should be removed as they are overridden by the FS link.<br>
                        Note: Activities having two relationship links where one is SS and the other is FF should not be
                        considered as duplicate.
                    </p>
                </caption>
                <thead>
                    <tr class="table-secondary ">
                        <th>#</th>
                        <th colspan="2">Pred ID</th>
                        <th>Pred Name</th>
                        <th colspan="2">Succ ID</th>
                        <th>Succ Name</th>
                        <th colspan="4">Links</th>
                    </tr>
                </thead>
                <tbody>
                {% for rels in warnings.duplicate_logic %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ rels[0].predecessor.activity_id }}</td>
                        <td>{{ task_image(rels[0].predecessor) }}</td>
                        <td>{{ rels[0].predecessor.name }}</td>
                        <td class="text-nowrap">{{ rels[0].successor.activity_id }}</td>
                        <td>{{ task_image(rels[0].successor) }}</td>
                        <td>{{ rels[0].successor.name }}</td>
                        {% for rel in rels %}
                            <td class="text-center">{{ rel.link }}:{{ rel.lag|formatnumber }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if warnings.redundant_logic|length %}
        <div id="redundantLogicTable" class="table-responsive-md mb-5 d-print-none">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Redundant Logic:</h5>
                    <p class="f-sm m-0 p-0">
                        Redundant logic is an unecessary relationship that can complicate the schedule.
                        For example: Activity A is linked [FS] with Activity B which is linked [FS] with Activity C (A --> B --> C).
                        Any relationship between Activities A and C would be considered redundant since Activity C 
                        is linked to Activity B, which is already a successor to Activity A.<br>
                    </p>
                </caption>
                <thead>
                    <tr class="table-secondary">
                        <th colspan="3">
                            Act ID<br>
                            <i class="bi bi-arrow-return-right"></i> Succ ID
                        </th>
                        <th>Activity Name</th>
                        <th class="text-center">Link</th>
                        <th class="text-center">Redundant : Steps</th>
                    </tr>
                </thead>
                <tbody>
                {% for epoch, rels in warnings.redundant_logic.items() %}
                    <tr class="border-top">
                        <td colspan="3" class="fw-bold text-nowrap border-bottom-0">{{ epoch.predecessor.activity_id }}</td>
                        <td colspan="3" class="fw-bold border-bottom-0">{{ epoch.predecessor.name }}</td>
                    </tr>
                    <tr>
                        <td class="border-bottom-0"><i class="bi bi-arrow-return-right"></i></td>
                        <td colspan="2" class="text-nowrap border-bottom-0">{{ epoch.successor.activity_id }}</td>
                        <td class="border-bottom-0">{{ epoch.successor.name }}</td>
                        <td class="text-center border-bottom-0">{{ epoch.link }}:{{ epoch.lag|formatnumber }}</td>
                        
                    </tr>
                    {% for rel in rels %}
                    <tr>
                        <td class="border-bottom-0 badge bg-danger"><i class="bi bi-arrow-return-right"></i></td>
                        <td class="border-bottom-0"><i class="bi bi-arrow-return-right"></i></td>
                        <!-- <td class="text-end">Redundant <span class="f-md m-0 p-0">&#8680</span></td> -->
                        <td class="text-nowrap table-danger">{{ rel.redundant.successor.activity_id }}</td>
                        <td class="table-danger">{{ rel.redundant.successor.name }}</td>
                        <td class="text-center table-danger">{{ rel.redundant.link }}:{{ rel.redundant.lag|formatnumber }}</td>
                        <td class="table-danger">Redundant : {{ rel.level|formatnumber }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if warnings.cost_variance|length %}
        <div id="costVarianceTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Cost Variances: {{ warnings.cost_variance|length|formatnumber }}</h5>

                </caption>
                <thead>
                    <tr class="table-secondary">
                        <th>#</th>
                        <th colspan="2">Task ID</th>
                        <th>Task Name</th>
                        <th>Resource</th>
                        <th>Account</th>
                        <th class="text-end">Budget</th>
                        <th class="text-end">At Completion</th>
                        <th class="text-end">Variance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for res in warnings.cost_variance %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ res.task.activity_id }}</td>
                        <td>{{ task_image(task) }}</td>
                        <td>{{ res.task.name }}</td>
                        <td>{{ res.name }}</td>
                        {% if res.account %}
                            <td>{{ res.account.acct_name }}<td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        <td class="text-end text-nowrap">{{ res.cost.budget|formatnumber }}</td>
                        <td class="text-end text-nowrap">{{ res.cost.at_completion|formatnumber }}</td>
                        <td class="text-end text-nowrap">{{ res.cost.variance|formatvariance }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if warnings.ev_variance|length %}
        <div id="evVarianceTable" class="table-responsive-md mb-5">
            <table class="table table-hover caption-top">
                <caption class="text-dark m-0">
                    <h5 class="text-nowrap">Earned Value Variances: {{ warnings.ev_variance|length|formatnumber }}</h5>

                </caption>
                <thead>
                    <tr class="table-secondary">
                        <th>#</th>
                        <th colspan="2">Task ID</th>
                        <th>Task Name</th>
                        <th>Resource</th>
                        <th>Account</th>
                        <th class="text-end">Budget</th>
                        <th class="text-end">Actual</th>
                        <th class="text-end">Earned</th>
                        <th class="text-end">Variance</th>
                    </tr>
                </thead>
                <tbody>
                    {% for res in warnings.ev_variance %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="text-nowrap">{{ res.task.activity_id }}</td>
                        <td>{{ task_image(res.task) }}</td>
                        <td>{{ res.task.name }}</td>
                        <td>{{ res.name }}</td>
                        {% if res.account %}
                            <td>{{ res.account.acct_name }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        <td class="text-end text-nowrap">{{ res.cost.budget|formatnumber }}</td>
                        <td class="text-end text-nowrap">{{ res.cost.actual|formatnumber }}</td>
                        <td class="text-end text-nowrap">{{ res.earned_value|formatnumber }}</td>
                        <td class="text-end text-nowrap">{{ (res.cost.actual - res.earned_value)|formatvariance }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}